*{
    background-color: rgb(0, 0, 0);
}
body{
    background-color: black;
}
.flex{
    display: flex;
    justify-content: center;
}
.nav_menu{
    font-size: 20px;
    margin: 10px 20px 0 0;
}
.link{
        text-decoration: none;
    color: aliceblue;
    margin: 0 5px 0 5px ;
}
.head{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* hero section */

.hero1img{
    height: auto;
    width: 100%;
}

/* hero 2nd section */

.hero2{
    display: flex;
    justify-content: center;
    margin-left: auto;
}
.hero_text{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 3rem;
    padding: 20px 20px 20px 20px;
}
.hero2img{
    height: auto;
    width: 80%;
}
@media screen and (max-width: 600px) {
    .hero_text{
        font-size: 1.5rem;
    }
    
}

/*foler Sections*/


.folder{
    height: 450px;
    margin: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
.folder:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .folder{
    height: auto;
    margin: 10px;
    width: auto;
  }
}