*{
    background-color: rgb(0, 0, 0);
}
body{
    background-color: black;
}
.flex{
    display: flex;
    justify-content: center;
}
.nav_menu{
    font-size: 20px;
    margin: 10px 20px 0 0;
}
.link{
        text-decoration: none;
    color: aliceblue;
    margin: 0 5px 0 5px ;
}
.head{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* hero section */

.hero1img{
    height: auto;
    width: 100%;
}

/* hero 2nd section */

.hero2{
    display: flex;
    justify-content: center;
    margin-left: auto;
}
.hero_text{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 3rem;
    padding: 20px 20px 20px 20px;
}
.hero2img{
    height: auto;
    width: 80%;
}
@media screen and (max-width: 600px) {
    .hero_text{
        font-size: 1.5rem;
    }
    
}

/*foler Sections*/


.folder{
    height: 450px;
    margin: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
.folder:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .folder{
    height: auto;
    margin: 10px;
    width: auto;
  }
}

/*testimonial ribbon*/

.testimonials{
    display: flex;
    justify-content: center;
    background-color: rgb(178, 175, 172);
    margin: 30px 0 30px 0;
}
.test_logo{
    height: 100px;
    margin: 20px;
    background: none;
}

@media screen and (min-width:600px) {
    .scrollmenu .testm_logo{
    display: none;
    }
}

/* mobile testimonial ribbon */

.scrollmenu{
    display: flex;
    justify-content: space-around;
    background-color: rgb(178, 175, 172);
    margin: 10px 0 10px 0;
    padding: 0 20px 0 20px;
}
.testm_logo{
    height: 60px;
    margin: 10px;
    background: none;
}

@media screen and (max-width:600px) {
    .testimonials .test_logo{
    display: none;
    }
}
/* scroll menu */
.scrollmenu::-webkit-scrollbar {
  display: none;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
